@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    color: #fff;
}
p {
    margin: 0 0 10px 0;
}
.card {
    border-radius: 10px; 
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #1f1e30;
    color: #fff;
}
.sidebar nav a.navbar-brand {
    font-size: 23px;
    font-weight: 800;
    color: #fff;
}
.brand2 {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 10px 0 10px;
} 
.menu {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}
.nav-link {
    width: 100%;
    border-radius: 5px;
}
.nav-link:hover {
    background-color: #ffffff;
    color: #343a40;
}
.nav-link.dropdown-toggle.user:hover {
    background-color: #1f1e30;
}
.nav-link i {
    padding: 0 15px 0 0;
}
.nav-link i.booking {
    padding: 0 16px 0 2px;
}
a.nav-link.dropdown-toggle::after {
    margin: 0 0 0 70px;
}
.user-icon {
    padding: 0 16px 0 2px;
}
a.nav-link.dropdown-toggle.user::after {
    margin: 0 0 0 20px;
}
.card1 {
    padding: 10px 15px;
}
.top-card {
    border-radius: 7px;
    color: #fff;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.top-card.left {
    background-image: linear-gradient(#ffc83c, #d89f0f);
}
.top-card.center {
    background-image: linear-gradient(#ff0000, #b90101);
}
.top-card.right {
    background-image: linear-gradient(#7cec20, #75a318);
}
.top-icon {
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    padding: 7px;
    border-radius: 6px;
    background-color: rgba(44, 44, 44, 0.4);
    margin: 0 10px 0 0;
}
.top-title {
    font-size: 12px;
}
h5.angka {
    font-size: 25px;
    font-weight: 800;
}
.popular-price {
    font-size: 18px;
    font-weight: 700;
}
span.bold {
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 0 5px;
}
.target {
    padding: 25px 0;
}
.target-box {
    margin: 0 0 25px 0;
    background-image: linear-gradient(#0575E6, #021B79);
    color: #fff;
    border: none;
    padding: 30px 25px;
}
.target-box1 {
    background-image: linear-gradient(#52e22a, #0b7a0b);
    color: #fff;
    border: none;
    padding: 30px 25px;
}
.top-target-icon {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5px 0 20px 0;
}
span i.target-icon {
    font-size: 12px;
    padding: 0 0 0 10px;
    text-align: center;
}
span i.target-icon.up {
    color: rgb(134, 226, 41);
}
span i.target-icon.down {
    color: rgb(185, 3, 3);
}
.target-box p, .target-box1 p {
    margin: 0;
    font-weight: 200;
    font-size: 12px;
}
.target-title {
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0;
}
.percent {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 15px 0;
}
.card-chart {
    box-shadow: none;
}
.success {
    background-color: rgb(74, 148, 1);
    text-align: center;
    font-size: 9px;
    padding: 3px 3px;
    border-radius: 10px;
    max-width: 50px;
}
.cenceled {
    background-color: rgb(218, 0, 0);
    text-align: center;
    font-size: 9px;
    padding: 3px 3px;
    border-radius: 10px;
    max-width: 80px;
}
.waiting {
    background-color: rgb(187, 159, 0);
    text-align: center;
    font-size: 9px;
    padding: 3px 3px;
    border-radius: 10px;
    max-width: 80px;
}
.short-description {
    font-size: 11px;
}
#form_edit {
    display: none;
}
.booking-detail {
    padding: 15px 0;
}
.border-title {
    width: 30px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    margin: 10px 0 30px 0;

}
.detail {
    padding: 15px;
    border-radius: 10px;
    margin: 0 0 15px 0;
    background-color: #1a1927;
    color: #fff;
}
.detail-title {
    font-size: 10px;
}
.detail-subtitle {
    font-size: 13px;
}
.booking-main-title {
    padding: 40px 0 10px 0;
}
.btn-detail {
    border-radius: 8px;
    background-image: linear-gradient(#ff0000, #b90101) !important;
}
.booking-box {
    margin: 0 0 25px 0;
    color: #fff;
    border: none;
    padding: 30px 25px;
}
.top-booking-icon {
    width: 120px;
    height: 120px;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5px 0 20px 0;
}
.booking-top-content {
    margin: 5px 0 0 0;
}
.booking-top-content h3 {
    font-size: 12px;
}
.booking-top-content p.booking-description {
    font-size: 9px;
}
.booking-email {
    margin: 0 20px 0 0;
}
p.person-list {
    font-size: 10px;
    padding: 3px 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin: -2px 5px 0 0;
    opacity: 0.3;
}
p.person-list.choose {
    opacity: 1.0;
}
#booking_list {
    display: none;
}
.view-button button{
    padding: 3px 13px;
    margin: 0 0 0 3px;
    border-radius: 15px;
}
.btn-block {
    background-image: linear-gradient(#52e22a, #0b7a0b);
    color: #fff;
    border: none;
}